<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiuxiu"
    android:versionCode="1"
    android:versionName="0.0.1">

    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name=".XiuxiuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 设置环信应用的appkey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="17710671059#gougou" />
        <!-- 声明sdk所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>



        <provider
            android:name="com.xiuxiu.provider.XiuxiuProvider"
            android:authorities="com.xiuxiu"
            android:exported="false" >
        </provider>


        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.main.MainActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 邀请-->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.invitation.InvitationPage"
            android:label="@string/app_name">
        </activity>
        HeixiuBroadCastSettingsPage

        <!-- 嘿咻设置  (价格设置) -->
        HeixiuSettingsPage
        <activity
            android:theme="@style/Theme"
            android:name=".user.XiuxiuSettingsPage"
            android:label="@string/app_name">
        </activity>
        <!-- 咻广播设置 -->
        <activity
            android:theme="@style/Theme"
            android:name=".Xiuxiubroadcast.XiuxiuBroadCastSettingsPage"
            android:label="@string/app_name">
        </activity>
        <!-- 咻广播 -->
        <activity
            android:theme="@style/Theme"
            android:name=".Xiuxiubroadcast.XiuxiuBroadCastPage"
            android:label="@string/app_name">
        </activity>
        <!-- 魅力等级 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.CharmLevelActivity"
            android:label="@string/app_name">
        </activity>
        <!-- 钱包页面 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.WalletActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 钱包充值 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.wallet.WalletRechargePage"
            android:label="@string/app_name">
        </activity>
        <!-- 钱包提现 -->
        <activity
            android:theme="@style/Theme"
            android:name=".user.WalletCashPage"
            android:label="@string/app_name">
        </activity>

        <!-- 拉黑举报 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.PullBlackReportActivity"
            android:label="@string/app_name">


        </activity>
        <!-- 用户详情页 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.UserDetailActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 用户详情编辑页 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.UserEditDetailActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 用户文本信息编辑页面 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.UserTxtEditActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 用户注册页 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.register.RegisterPage"
            android:label="@string/app_name">
        </activity>

        <!-- 启动页面 -->
        <activity android:name=".WelcomePage"
            android:theme="@style/Theme"
            android:label="@string/app_name">
            <!-- -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- 用户登陆 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.login.LoginPage"
            android:label="@string/app_name">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>


        <!-- 用户登录后的资料编辑页面 -->
        <activity android:name=".user.login.LoginUserDataEditPage"
            android:theme="@style/Theme"
            android:label="@string/app_name">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
                -->
        </activity>

        <!-- 用户的资料页面 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.PersonDetailActivity"
            android:label="@string/app_name">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>


        <!-- 用户资料修改 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.login.PersonalDataPage"
            android:label="@string/app_name">

        </activity>

        <!-- 聊天祥情页 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.chat.ChatPage"
            android:launchMode="singleTask"
            android:label="@string/app_name">
        </activity>

        <!-- 设置 -->
        <activity
            android:theme="@style/Theme"
            android:name="com.xiuxiu.user.SetupPage"
            android:label="@string/app_name">
        </activity>

        <!-- 用户语音编辑 -->
        <activity
            android:theme="@style/Theme"
            android:name=".user.voice.VoiceIntroductionActivity"
            android:label="@string/app_name">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <!-- 咻羞任务 -->
        <activity
            android:theme="@style/Theme"
            android:name=".xiuxiutask.XiuxiuTaskPage"
            android:label="@string/app_name">
            <!--　
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>　-->

        </activity>

        <activity
            android:theme="@style/Theme"
            android:name=".user.UserEditCityActivity"
            android:label="@string/app_name">
        </activity>



        <!-- 编辑用户城市 -->
        <activity
            android:theme="@style/Theme"
            android:name=".user.invitation.NewFriendsMsgActivity"
            android:label="@string/app_name">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>


        <!-- 微信支付结果页面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!-- 图片显示页面 -->
        <activity
            android:theme="@style/Transparent"
            android:name="com.xiuxiu.user.UserImagePageActivity"
            android:label="@string/app_name">
        </activity>

        <!-- DialogActivity          android:theme="@style/Theme" -->
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.xiuxiu.utils.DialogActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".user.invitation.AddFriendsPage"
            android:theme="@style/Theme"
            android:label="@string/app_name">
        </activity>

        <!-- 财富等级 -->
        <activity android:name="com.xiuxiu.user.WealthLevelActivity"
            android:theme="@style/Theme"
            android:label="@string/app_name">
        </activity>


        <!-- 趣拍透明页面-->
        <activity
            android:theme="@style/Theme.Transparent"
            android:name="com.xiuxiu.xiuxiutask.XiuxiuQupaiPage"
            android:label="@string/app_name">
        </activity>

        <!-- 通话页面 -->
        <activity android:name="com.xiuxiu.call.voice.VoiceCallActivity"
            android:theme="@style/Theme"
            android:label="@string/app_name">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>


        <!-- 视频页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- 环信页面  -->

        <!--　聊天页面点击图片信息 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"
            android:label="@string/app_name">
        </activity>
        <!-- choose video -->
        <activity
            android:name="com.xiuxiu.chat.im.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.xiuxiu.chat.im.RecorderVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <!-- ###################   友盟   ################### -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/>
        <!-- ###################注册SDK使用的Activity###################### -->
        <activity
            android:name="com.xiuxiu.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"/> -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5729959767e58e9905000715" >
        </meta-data>

        <meta-data android:value="000001" android:name="UMENG_CHANNEL"/>

    </application>
</manifest>
